<div class="widget">
  <div class="content">
    <div class="main">
      <div class="header">
        <h1>Long-term Goals</h1>
      </div>
    </div>

    <div class="form">
      <div class="vertical-line"></div>
      <div class="form-content">
        <h3>1 year</h3>
        <p>
          {{ longTermGoal.oneYear }}
        </p>
      </div>
    </div>
    
    <div class="form">
      <div class="vertical-line"></div>
      <div class="form-content">
        <h3>5 year</h3>
        <p>
          {{ longTermGoal.fiveYear }}
        </p>
      </div>
    </div>

    <div class="edit-icon">
      <button (click)="openModal()">
        <span class="material-icons"> edit </span>
      </button>
    </div>
    <app-modal *ngIf="showModal" [dataFromWidget]="longTermGoal" (close)="closeModal()"></app-modal>
  </div>
</div>
