<div class="modal">
  <div class="content">
    <div class="main">
      <div class="header">
        <h1>Long-term Goals</h1>
      </div>
      <div class="edit-icon">
        <button (click)="closeModal()" type="submit">
          <span class="material-icons">
            done
            </span>
        </button>
      </div>
    </div>

  </div>
  <form name="editForm">
    <div class="form">
      <div class="vertical-line"></div>
      <div class="form-content">
        <h3>1 year</h3>
        <input type="text" name="oneYear" id="oneYear">
      </div>
    </div>
    
    <div class="form">
      <div class="vertical-line"></div>
      <div class="form-content">
        <h3>5 year</h3>
        <input type="text" name="fiveYears" id="fiveYears">
      </div>
    </div>


  </form>

</div>

